<h4 class="text-center">Registe-se agora</h4>

<form class="form mt-4" >
  <div class="form-group">
    <input placeholder="E-mail" type="text" class="form-control" >
  </div>
  <div class="form-group">
    <input placeholder="Nome Completo" type="text" class="form-control" >
   
  </div>
  <div class="form-group">
    <input placeholder="Usuário" type="text" class="form-control" >
  </div>
  <div class="form-group">
    <input type="password" placeholder="Senha" class="form-control" >
    
  </div>
  <button class="btn btn-primary btn-block">Cadastrar</button>
</form>
<p>Ja é usuario? <a routerLink="" >Faça login</a></p>